<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Vue</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/persian-date/dist/persian-date.js"></script>
    <script src="node_modules/persian-datepicker/dist/js/persian-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/persian-datepicker/dist/css/persian-datepicker.css">
    <script src="persian-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">

    <style>
        .options-container {
            height: 500px;
            overflow: scroll;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Vue persian datepicker</a>
        </div>
    </div>
</nav>

<div class="container-fluid text-center datepicker-main">
    <div class="row content">
        <div id="app">
            <div class="row">
                <div class="col-xs-6">
                    <div class="panel datepicker-main--panel">
                        <div class="form-group">
                            <label>format:</label>
                            <datepicker v-bind:options="datepickerOptions" class="datepicker-input"></datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 options-container">
                    <div class="panel">
                        <div class="panel-body">
                            <form >
                                <textarea class="col-xs-12">
                                    {{datepickerOptions}}
                                </textarea>

                                <div class="form-group">
                                    <label>format:</label>
                                    <div>
                                        <input class="form-control" v-model="datepickerOptions.format"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label>persianDigit:</label>
                                        <input class="form-control" v-model="datepickerOptions.persianDigit" type="checkbox"/>
                                    </div>

                                <div class="form-group">
                                        <label>initialValue:</label>
                                        <input class="form-control" v-model="datepickerOptions.initialValue" type="checkbox"/>
                                    </div>

                                <div class="form-group">
                                    <label>minDate:</label>
                                    <input class="form-control" v-model="datepickerOptions.minDate"/>
                                </div>
                                <div class="form-group">
                                    <label>maxDate:</label>
                                    <input class="form-control" v-model="datepickerOptions.maxDate"/>
                                </div>
                                <div class="form-group">
                                    <label>Navigator enabled:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.navigator.enabled"/>
                                </div>
                                <div class="form-group">
                                    <label>Navigator Scroll enabled:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.navigator.scroll.enabled"/>
                                </div>
                                <div class="form-group">
                                    <label>navigator text btnNextText:</label>
                                    <input class="form-control" v-model="datepickerOptions.navigator.text.btnNextText"/>
                                </div>

                                <div class="form-group">
                                    <label>navigator text btnPrevText:</label>
                                    <input class="form-control" v-model="datepickerOptions.navigator.text.btnPrevText"/>
                                </div>

                                <div class="form-group">
                                    <label>toolbox:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.toolbox.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>toolbox text btnToday:</label>
                                    <input class="form-control" v-model="datepickerOptions.toolbox.text.btnToday"/>
                                </div>

                                <div class="form-group">
                                    <label>onlyTimePicker:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.onlyTimePicker"/>
                                </div>

                                <div class="form-group">
                                    <label>onlySelectOnDate:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.onlySelectOnDate"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.timePicker.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker step:</label>
                                    <input type="number" class="form-control"
                                           v-model="datepickerOptions.timePicker.step"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker hour:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.timePicker.hour.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker hour step:</label>
                                    <input type="number" class="form-control"
                                           v-model="datepickerOptions.timePicker.hour.step"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker minute:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.timePicker.minute.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker minute step:</label>
                                    <input type="number" class="form-control"
                                           v-model="datepickerOptions.timePicker.minute.step"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker second:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.timePicker.second.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker second step:</label>
                                    <input type="number" class="form-control"
                                           v-model="datepickerOptions.timePicker.second.step"/>
                                </div>

                                <div class="form-group">
                                    <label>Timepicker meridian:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.timePicker.meridian.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>dayPicker:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.dayPicker.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>dayPicker titleFormat:</label>
                                    <input class="form-control" v-model="datepickerOptions.dayPicker.titleFormat"/>
                                </div>

                                <div class="form-group">
                                    <label>monthPicker:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.monthPicker.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>monthPicker titleFormat:</label>
                                    <input class="form-control" v-model="datepickerOptions.monthPicker.titleFormat"/>
                                </div>

                                <div class="form-group">
                                    <label>yearPicker:</label>
                                    <input type="checkbox" class="form-control"
                                           v-model="datepickerOptions.yearPicker.enabled"/>
                                </div>

                                <div class="form-group">
                                    <label>yearPicker titleFormat:</label>
                                    <input class="form-control" v-model="datepickerOptions.yearPicker.titleFormat"/>
                                </div>

                                <div class="form-group">
                                    <label>autoClose:</label>
                                    <input type="checkbox" class="form-control" v-model="datepickerOptions.autoClose"/>
                                </div>

                                <div class="form-group">
                                    <label>position:</label>
                                    <input class="form-control" v-model="datepickerOptions.position"/>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    new Vue({
        deep: true,
        el: '#app',
        data: {
            datepickerOptions: {
                format: 'l',
                persianDigit: true,
                initialValue: true,
                minDate: 1504713660730,
                maxDate: 1604713660730,
                autoClose: false,
                position: 'auto',
                onlyTimePicker: false,
                onlySelectOnDate: false,
                navigator: {
                    enabled: true,
                    scroll: {
                        enabled: true
                    },
                    text: {
                        btnNextText: '<',
                        btnPrevText: '>'
                    }
                },
                toolbox: {
                    enabled: true,
                    text: {
                        btnToday: 'today'
                    }
                },
                timePicker: {
                    enabled: true,
                    step: 01,
                    hour: {
                        enabled: true,
                        step: 2
                    },
                    minute: {
                        enabled: true,
                        step: 02
                    },
                    second: {
                        enabled: true,
                        step: 02
                    },
                    meridian: {
                        enabled: true
                    }
                },
                dayPicker: {
                    enabled: true,
                    titleFormat: 'YYYY MMMM'
                },
                monthPicker: {
                    enabled: true,
                    titleFormat: 'YYYY'
                },
                yearPicker: {
                    enabled: true,
                    titleFormat: 'YYYY'
                }
            }
        }
    })
</script>
</body>
</html>
